<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{title}} Departamento</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formDepartamento">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Departamento</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="depaNombre" placeholder="Ingrese departamento">
        <!--<span class="form-text text-danger" *ngIf="validaForm('firstName')">Ingrese nombre</span>-->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Abreviatura</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="depaAbreviatura" placeholder="Ingrese abreviatura">
        <!--<span class="form-text text-danger" *ngIf="validaForm('lastName')">Ingrese apellidos</span>-->
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" *ngIf="title==='Nuevo'" [disabled]="!formDepartamento.valid" (click)="save()">Guardar</button>
  <!--<button type="button" class="btn btn-primary" *ngIf="title==='Modificar'" [disabled]="!formEmpleado.valid">Modificar</button>-->
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancelar</button>
</div>
